{% load static %}

<div class="question">
    <div class="row">
        <ul class="list-group list-group-horizontal">
            <li class="my-list-group-item">
                <div class="row-cols-1">
                    <div class="avatar">
                        <img src="{{question.user.avatar.url}}" alt=""/>
                    </div>
                </div>
                {% include 'inc/rating.html' %}
            </li>

            <li class="my-list-group-item">
                <div class="row">
                    <a class="question-title" href="{% url 'question' id=question.question_id %}">{{question.title}}</a>
                </div>
                <div class="row">
                    <p class="text-start question-text text-justify">
                        {{ question.text }}
                    </p>
                </div>
                <div class="row">

                    <div class="col">
                        <a href=""> answers ({{ question.answers_number }})</a>
                    </div>

                    <div class="col">
                        tags:
                        {% for tag in question.tags.all %}
                        <a href='/tags/{{ tag.name }}'>{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </li>
        </ul>

        <div class="col-md">

        </div>
    </div>
</div>