{% load static %}

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-light"><img height=30px width=30px
                                                         src="{% static 'img/like.png' %}"></button>

        <button type="button" class="btn btn-light"><img height=30px width=30px
                                                         src="{% static 'img/dislike.png' %}"></button>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="badge bg-secondary">123123</div>
    </div>
    <div class="col"></div>
</div>